h1{
    text-align: center;
    font-style: italic;
    color: blue;
    background-color: rgb(240, 237, 235);
}
img{
    display:block;
    width: 400px;
    height: 600px;
    margin:20px auto;
    opacity: 0.;
    background-color: aquamarine;
}