/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(167, 219, 219);
    margin: 0;
}

/* Navigation */
nav {
    background-color: #eee;
    padding: 1rem;
}

:root {
    --primary-color: #140202;
    --heading-text-color: #f1eaea;
    --heading-font-family: arial, Helvetica, sans-serif;
    --backround-color: #2c3549;
    --margin-bottom-collapse: 0.2rem 2rem;
    --padding: 25px;
    --width: 30px;
    --height: 40px;

    --max-width: 60px;
    --position: fixed;
    --bottom: 0;
    --margin: 1rem;
    --border-top: 1px solid #000;
    --padding: 0.5rem;
    --color: navy;
    --font-weight: 700;
    --font-style: italic;
    --margin: 0;
    --padding: 0;
    --max-width: 800px;
    --margin: 2rem auto;
    --text-align: center;
    --font-size: 1.5rem;
    --text-shadow: 3px 3px 5px #777;
    --margin: 10px auto;
    --position: relative;
    /* If removed, what happens? */
    --width: 100%;
    --height: 300px;
    --object-fit: cover;
    --position: absolute;
    --top: 25px;
    --right: 25px;
    --background: radial-gradient(#eee, #323A06);
    --border: 1px solid #000;
    --padding: 0.65rem;
    --box-shadow: 0 0 30px #111;
    --opacity: 0.9;
}

nav a {
    display: block;
    padding: 0.5rem;
    color: #d61717;
    text-decoration: none;
}

/* Main */
main {
    max-width: 840px;
    margin: 1rem auto;
}

/* Heading */
h1 {
    color: rgb(29, 8, 218);
}

/* Profile image */
main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Aside */
aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Aside image */
aside img {
    width: 200px;
    height: auto;
}

/* Paragraph */
p {
    padding: 0;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}