/* Général */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(167, 219, 219);
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* centre les cartes horizontalement */
    gap: 2rem;
}

/* Navigation */
nav {
    padding: 1rem;
}

nav a {
    margin-right: 1rem;
    color: #d61717;
    text-decoration: none;
}

/* Main layout */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centre horizontalement */
    width: 20rem;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;

}

/* Images */
.card img {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
    box-shadow: #d61717;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centre les cartes horizontalement */
    gap: 2rem;
}

/* Titres */
h1 {
    color: rgb(29, 8, 218);
}

h2 {
    margin-top: 0;
}

/* Paragraphes */
p {
    text-align: left;
    font-size: 0.9rem;
}

/* Footer */
footer {
    border-top: 1px solid #000;
    text-align: center;
    padding: 1rem;
}