/* Limite la largeur du main */
main {
    max-width: 840px;
    margin: 0 auto;
    /* Centrage horizontal */
}

/* Style pour la section aside */
aside {
    width: 20rem;
    /* Largeur de l'aside */
    margin: 1rem;
    /* Marge autour de l'aside */
    border: 1px solid rgb(0 0 0 / 0.2);
    /* Bordure subtile */
    padding: 1rem;
    /* Rembourrage à l'intérieur */
    background-color: #eee;
    /* Fond clair */
    color: #333;
    /* Couleur du texte */
    text-align: center;
    /* Centrer le texte */
}

/* Style pour les images dans le aside */
aside img {
    width: 200px;
    /* Largeur de l'image dans le aside */
    height: auto;
    /* Hauteur auto pour garder la proportion */
}

/* Style spécifique à l'image dans main */
main img {
    width: 150px;
    /* Largeur de l'image de profil */
    height: auto;
    /* Hauteur auto pour garder la proportion */
}

/* Style pour les paragraphes */
p {
    padding: 0;
    /* Enlève le padding du paragraphe */
}

/* Style pour le footer */
footer {
    margin-top: 15px;
    /* Marge supérieure pour séparer du contenu principal */
    border-top: 1px solid #000;
    /* Bordure supérieure */
    text-align: center;
    /* Centrage du texte dans le footer */
}
